html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

.primary-color {
  color: #0070b9;
}

.primary-button {
  background-color: #0070b9 !important;
  color: white !important;
  font-size: medium !important;
}

.primary-background {
  background-color: #0070b9 !important;
}

.dark-background {
  background-color: #1c4f75 !important;
}

*:focus {
  outline: 0 !important;
}

.MuiIconButton-root:active {
  outline: none !important;
  background-color: transparent !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
